.filters {
    padding:0px;
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    z-index:5;

}

#dropdownMenuLink{
    font-size: 18px;
    margin-right: 30px;
    width:170px;
    height:69px;
    padding-top: 20px;

    &::after{
        margin-left: 30px;
    }
    &:focus,
    &:hover{
        outline:0px;
        -webkit-appearance:none;
        box-shadow: none;
    }
}

.btn-title{
    width: 100%;
    display: flex;
    justify-content: space-around;
}



.saisie-recherche {
    width:667px;
    height: 69px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    &::placeholder {
        font-size: 18px;
        color:white;
        opacity: 50%;
    }
    &:focus{
        outline:0px;
        -webkit-appearance:none;
        box-shadow: none;
    }
}

#SaisieRecherche1 {
    font-weight:400;
    font-size: 18px;
}

#SaisieRecherche2 {
    background-color: #3382F7;
    color:white;
}


#SaisieRecherche3 {
    background-color: #68D9A4;
    color:white;

}

#SaisieRecherche4 {
    background-color: #ED6454;
    color:white;

}

.search-list {
    width:667px;
    max-height:340px;
    margin-right:40px;
    color:white;
    overflow: hidden;
}

.ingredients-list {
    background-color: #3382F7;
}

.appliances-list {
    background-color: #68D9A4;
}

.ustensils-list {
    background-color: #ED6454;
}

.ingredientUl,
.applianceUl,
.ustensilUl {
    padding: 0.375rem 0.75rem;
    margin:0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
}

.ingredientLi,
.applianceLi,
.ustensilLi {
    font-size: 18px;
    line-height: 21.6px;
    margin-right:13px;
    margin-bottom: 5px;
    list-style: none;
    width:fit-content;
    cursor: pointer;
    z-index:10;
}

.tagged {
    display: none;
}



