#recipes{
    margin-top: 130px;
    padding: 0px;
}

article{
    min-width:380px;
    min-height: 364px;
    background-color: #E7E7E7;
    margin-bottom: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.picture{
    height:178px;
    background-color: #C7BEBE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ingredients{
    height:105px;
    line-height: 14.4px;
    padding:0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.time{
    font-weight: 700;
}

.descriptionRecipe{
    height: 70px;
    width:171px;
    padding:0;
    padding-left: 3px;
    line-height: 12px;
    font-family: 'Roboto', sans-serif;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}


.bottomCardInfos{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}