body{
    box-sizing: border-box;
    font-size: Lato;
}
h1{
    color: red;
    font: 900;
}

h2{
    font-size:18px;
    // font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height:21.6px;
    margin: 0;
}

h3{
    font-weight: 700;
    font-size:18px;
    // font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height:21.6px;
    margin: 0;
}

p{
    font-size: 12px;
    margin:0;
}

span{
    font-weight: 400;
}

.btn{
    font-weight: 700;
}
.btn-danger{
    background-color:#ED6454;
}

.btn-success{
    background-color:#68D9A4;
}

.btn-primary{
    background-color:#3282F7;
}