body{
    box-sizing: border-box;
    font-family: Lato;
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 70px;
}
@media screen and (max-width: 992px){
body {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;}
}

strong {
    text-decoration: underline;
}

h1{
    color: red;
    font: 900;
}

h2{
    font-size:18px;
    // font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height:21.6px;
    margin: 0;
}

h3{
    font-weight: 700;
    font-size:18px;
    // font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height:21.6px;
    margin: 0;
}

p{
    font-size: 12px;
    margin:0;
}

span{
    font-weight: 400;
}

.btn{
    font-weight: 700;
}
.btn-danger{
    background-color:#ED6454;
}

.btn-success{
    background-color:#68D9A4;
}

.btn-primary{
    background-color:#3282F7;
}

.tagged {
    display: none;
}